PORT=3000
BASE_URL=<AIOSTREAMS_PUBLIC_BASE_URL>
SECRET_KEY=<GENERATE_64_HEX_SECRET>
DATABASE_URI=sqlite://./data/db.sqlite
AIOSTREAMS_AUTH_REQUIRED=true
AIOSTREAMS_AUTH=<USERNAME:PASSWORD[,USERNAME:PASSWORD]>
CONFIG_ACCESS_KEY=<GENERATE_64_CHAR_SECRET>
TRUSTED_IPS=${DOCKER_NETWORK_CIDR}
DISABLE_RATE_LIMITS=false
PRUNE_MAX_DAYS=-1
